<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nettiwork | Login Code</title>
</head>
<body>
<div class="container">
    <div class="logo">
        <img src="https://cdn.nettiwork.com/statics/nettiwork-logo.svg" alt="Nettiwork Logo">
    </div>

    <% if (code) { %>
        <div class="code-box"><%= code %></div>
    <% } %>

    <div class="footer">
        Need help? Contact us at <a href="mailto:support@nettiwork.com">support@nettiwork.com</a>
    </div>
</div>
</body>
</html>
